.back-img:after{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 12px;
    display: inline-block;
    background: linear-gradient( rgba(0,0,0,0.50), rgba(0,0,0,0.50) );
}
.slides img{
    height: 100%;
}
@media only screen  and (max-width: 687px){

    .slides img{
        height: 100%;
    }
    .text-t{
        font-size:15px;
        text-align:center;
    }
    .text-p{
        display: none;
    }

}