.ans{
    border-bottom:2px solid black;
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}
.ans h1{
    text-align: center;
}
.qus{
    background-color:rgb(102, 146, 102);
    margin:2%;
    padding:3%;
    border-radius:12px;
    color:black;
}
.qus:hover{
    background-color:rgb(60, 83, 60);
    color: white;
}
@media only screen  and (max-width: 687px){
    .qus{
       margin-top:20px;
       margin-bottom: 20px;
       padding:20px;
    }
}